
<div>

  <div class="uno">
    <h5 class="uno text-center p-1 text-light" style="background-color: #7f244c;">
      <i> CONOCE UN NUEVO MUNDO</i>
    </h5>
  </div>

  <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDark"
        aria-controls="navbarDark" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- En tu archivo HTML -->
      <img class="img-fluid  d-md-block" style="max-height: 50px;"
        src="https://scontent.fgye30-1.fna.fbcdn.net/v/t39.30808-6/392867539_703526471827975_5249948582303570822_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=efb6e6&_nc_eui2=AeFGZqYptsAU5M4OHrDX4I0lAexP9IzCeNMB7E_0jMJ40-o-WASa8y4TvKFsTeKEfXlZuLFjOFqUVml-lz_xbCkp&_nc_ohc=6lYExALDJNUAX8kcbhN&_nc_ht=scontent.fgye30-1.fna&oh=00_AfAJyFO6iJMZ8wJ94aLxhKrMeiw1aiYZkFPjnRwzQwQPkA&oe=65E73B8E"
        alt="">

      <div class="collapse navbar-collapse show" id="navbarDark">
        <ul class="navbar-nav me-auto mb-2 mb-xl-0 mx-auto">
          <li class="nav-item ms-lg-5">
            <button class="nav-link active" aria-current="page" (click)="scrollTo('PERSONAL')">PERSONAL</button>
          </li>
          <li class="nav-item ms-lg-5">
            <button class="nav-link active" aria-current="page"
              (click)="scrollTo('ESPECIALIDADES')">ESPECIALIDADES</button>
          </li>
          <li class="nav-item ms-lg-5">
            <button class="nav-link active" aria-current="page"
              (click)="scrollTo('INSTALACIONES')">INSTALACIONES</button>
          </li>
          <li class="nav-item ms-lg-5">
            <a class="nav-link active" aria-current="page" href="#">RESERVAS</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
 
  <div class="parallax1">
  <div class="position-relative">
    <div class="position-absolute" style=" transform: translateY(140%); width: 100%;">
      <div class="text-center">
        <p class="nose fs-1" style="color: #ffffff">UN PARAISO ESCONDIDO</p>
        <hr style=" border:none; height: 3px; background-color: rgb(255, 255, 255);">
        <p class="nose fs-1" style="color: #ffffff;">EN EL VALLE DE LOS CHILLOS</p>
      </div>
    </div>
  </div>
  </div>


  <div id="PERSONAL" class="mb-5"></div>
  <div class="container-sm-fluid mt-ms-2 mt-md-3 ms-md-5 ms-lg-3 p-3">
    <div class="row">
      <div class="col-lg-2 col-md-4 col-sm-4">
        <img class="img-fluid rounded mb-3"
          src="https://scontent.fgye1-2.fna.fbcdn.net/v/t1.6435-9/208451051_3834798106647544_2831900651667966250_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=5f2048&_nc_ohc=zQS2rOGlVCIAX9aErVe&_nc_ht=scontent.fgye1-2.fna&oh=00_AfDkyLD3DruKvE8WJwlc1k628EOLc2c2CbKI9j6gWZxPaQ&oe=661301F3">
        <img class="img-fluid mb-3 "
          src="https://scontent.fgye1-2.fna.fbcdn.net/v/t1.6435-9/168780924_3573324979461526_749573137924624076_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=5f2048&_nc_ohc=2_HbwwR_qk0AX_hncFC&_nc_ht=scontent.fgye1-2.fna&oh=00_AfCerrOsQa9dxS_VDkKjoDXNhCn9NHd6ECi40r74uEXJag&oe=66153C7C"
          alt="">
        <img class="img-fluid"
          src="https://scontent.fgye1-2.fna.fbcdn.net/v/t1.6435-9/169912712_3579110518882972_7702326753478300370_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_ohc=fDazLNKu97kAX_MiaCi&_nc_ht=scontent.fgye1-2.fna&oh=00_AfD76C5dT2VTYz9g4dn7t_oqwN1TSav0iz7OPWAxEw6HtQ&oe=66155046"
          alt="">
      </div>
      <div class="col-lg-9 col-md-7 col-sm-7 mt-3">
        <h1 class="dancing-script-personal" style="color: rgb(146, 215, 18);">NUESTRO PERSONAL</h1>
        <h5 class="mejores" style="color:rgba(132, 190, 25, 0.426);">LOS MEJORES EN EL SERVICIO</h5>
        <p class="w-75"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque aut temporibus, magnam quidem
          dolorum natus porro nostrum modi quod earum, tempora nobis. Facilis delectus mollitia non ducimus, deserunt
          suscipit rem? </p>
        <h5 class="mejores" style="color:rgba(132, 190, 25, 0.426);">MANTENIENDO LA COMODIDAD DEL CLIENTE</h5>
        <p class="w-75"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque aut temporibus, magnam quidem
          dolorum natus porro nostrum modi quod earum, tempora nobis. Facilis delectus mollitia non ducimus, deserunt
          suscipit rem? </p>

        <h5 class="mejores" style="color:rgba(132, 190, 25, 0.426);">LOS MEJORES EN EL SERVICIO</h5>
        <p class="w-75"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque aut temporibus, magnam quidem
          dolorum natus porro nostrum modi quod earum, tempora nobis. Facilis delectus mollitia non ducimus, deserunt
          suscipit rem? </p>
        <h5 class="mejores" style="color:rgba(132, 190, 25, 0.426);">MANTENIENDO LA COMODIDAD DEL CLIENTE</h5>
        <p class="w-75"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque aut temporibus, magnam quidem
          dolorum natus porro nostrum modi quod earum, tempora nobis. Facilis delectus mollitia non ducimus, deserunt
          suscipit rem? </p>

        <h5 class="mejores" style="color:rgba(132, 190, 25, 0.426);">LOS MEJORES EN EL SERVICIO</h5>
        <p class="w-75"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque aut temporibus, magnam quidem
          dolorum natus porro nostrum modi quod earum, tempora nobis. Facilis delectus mollitia non ducimus, deserunt
          suscipit rem? </p>
      </div>
    </div>
  </div>

  






  <div id="ESPECIALIDADES" class="mb-5"></div>

  <div class="position-relative">
    

    <div class="parallax">


    <div class="position-absolute text-center mt-lg-1" style="top: 0%; width: 100%;">
      <p class="fs-1 text-black" style="margin-bottom: 0; ">ESPECIALIDADES</p>
      <p class="text-black p-lg-4 ">Lo mejor en comida en un solo lugarñ.</p>

     

    
      <div class="row">
        <div class="large-12 columns">
          <div class="owl-carousel owl-theme">
            <div class="item">
              <h1>slider1</h1>
            </div>
            <div class="item">
              <h1>slider1</h1>
            </div>
            <div class="item">
              <h1>slider1</h1>
            </div>
            <div class="item">
              <h1>slider1</h1>
            </div>
            <div class="item">
              <h1>slider1</h1>
            </div>
            <div class="item">
              <h1>slider1</h1>
            </div>
            <div class="item">
              <h1>slider1</h1>
            </div>
          </div>
        </div>
      </div>
    
    




    </div>
  </div>
  </div>







  <div id="INSTALACIONES" class="mb-5"></div>


  <div class="container">
    <div class="row">

      <div class="col-lg-9 text-end">
        <h1 class="dancing-script-personal mt-4" style="color: rgb(146, 215, 18);">INSTALACIONES</h1>
        <h5 class="mejores" style="color:rgba(132, 190, 25, 0.426);">LOCALES</h5>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque aut temporibus, magnam quidem dolorum natus
          porro nostrum modi quod earum, tempora nobis. Facilis delectus mollitia non ducimus, deserunt
          suscipit rem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores quaerat magnam excepturi
          sunt. Aliquam sit soluta corporis a aspernatur similique ipsa. Voluptate natus sunt dolore nostrum animi?
          Unde, harum fugit.</p>
        <h5 class="mejores" style="color:rgba(132, 190, 25, 0.426);">COMODIDAD</h5>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque aut temporibus, magnam quidem dolorum natus
          porro nostrum modi quod earum, tempora nobis. Facilis delectus mollitia non ducimus, deserunt
          suscipit rem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores quaerat magnam excepturi
          sunt. Aliquam sit soluta corporis a aspernatur similique ipsa. Voluptate natus sunt dolore nostrum animi?
          Unde, harum fugit.</p>
        <h5 class="mejores" style="color:rgba(132, 190, 25, 0.426);">COMODIDAD</h5>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque aut temporibus, magnam quidem dolorum natus
          porro nostrum modi quod earum, tempora nobis. Facilis delectus mollitia non ducimus, deserunt
          suscipit rem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores quaerat magnam excepturi
          sunt. Aliquam sit soluta corporis a aspernatur similique ipsa. Voluptate natus sunt dolore nostrum animi?
          Unde, harum fugit.</p>
        <h5 class="mejores" style="color:rgba(132, 190, 25, 0.426);">COMODIDAD</h5>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque aut temporibus, magnam quidem dolorum natus
          porro nostrum modi quod earum, tempora nobis. Facilis delectus mollitia non ducimus, deserunt
          suscipit rem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores quaerat magnam excepturi
          sunt. Aliquam sit soluta corporis a aspernatur similique ipsa. Voluptate natus sunt dolore nostrum animi?
          Unde, harum fugit.</p>
      </div>

      <div class="col-lg-3">
        <img class="img-fluid mb-3"
          src="https://scontent.fgye1-2.fna.fbcdn.net/v/t1.6435-9/131125518_3282010475259646_1774471060133648705_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_ohc=qItNVYr6SEMAX-RQ1Vj&_nc_ht=scontent.fgye1-2.fna&oh=00_AfD2QOjJE5T8zNFINmZDufvUZtxswzPV9__xiuFNlDNYRw&oe=661545E9"
          alt="">
        <img class="img-fluid mb-3"
          src="https://scontent.fgye1-2.fna.fbcdn.net/v/t1.6435-9/151206210_3441852189275473_2733407177671766256_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=5f2048&_nc_ohc=DmFt090IbsYAX--IkyN&_nc_ht=scontent.fgye1-2.fna&oh=00_AfBSeZzb0qbc9MsKNRL0DHIRvgSxnOry2hBT8nxVOiY-5w&oe=66154306"
          alt="">
        <img class="img-fluid"
          src="https://scontent.fgye1-2.fna.fbcdn.net/v/t1.6435-9/201577833_3794436904016998_1082729639678943794_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_ohc=BgYlpGucjz0AX_44PJc&_nc_ht=scontent.fgye1-2.fna&oh=00_AfB8XMhvjvux_DzKh2YZ2acdAzcfsQPr1XPrtSe4GMUm-g&oe=66154359"
          alt="">
      </div>

    </div>
  </div>

 
 
 

</div>