@if(isVisible) {

<div class="overlay position-fixed top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center p-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-8">
                <div class="popup bg-white rounded shadow">
                    <!-- Aquí va el contenido del popup -->

                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-12 text-center">
                            <p class=" text-center nautilus display-3">{{personal.nombre}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-12 text-center">
                            <h3 class="nautilus" style="color: #e75b1e;" >{{personal.puesto}}</h3>
                            <img src="../../../../assets/icono chef.png" alt="Chef Icon">
                        </div>

                        <div class="col-lg-1 col-md-5 col-sm-12 d-flex justify-content-center d-none d-lg-flex">
  <div style="border-left: 3px solid #e75b1e; height: 210px; margin-top: -60px;"></div>
</div>


                        <div class="col-lg-6 col-md-5 col-sm-12">
                            <p class="roboto text-center">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel veritatis sapiente ab
                                distinctio assumenda sint ducimus culpa molestiae quo suscipit rerum doloribus minima,
                                veniam ullam ipsa a explicabo maiores sed.
                            </p>
                        </div>
                        <img src="../../../../assets/cartapresentacion.png" alt="" class="img-fluid mt-2">
                    </div>






                </div>
            </div>
        </div>
    </div>
</div>
}