<div class="container mt-5">
  <h2 class="text-center mb-4 roboto">Comentarios</h2>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    @for(comentario of comentario | paginate: { itemsPerPage: 9, currentPage: page }; track comentario) {
      <div class="col">
        <div class="card h-100 shadow-sm border border-primary-subtle">
          <div class="card-body">
            <h5 class="card-title text-primary">
              <i class="fas fa-user-circle me-2"></i>{{ comentario.nombre }}
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
              <i class="fas fa-envelope me-2"></i>{{ comentario.email }}
            </h6>
            <p class="card-text mt-3">
              <i class="fas fa-comment-dots me-2 text-secondary"></i>{{ comentario.comentario }}
            </p>
          </div>
        </div>
      </div>
    }
  </div>

  <div class="d-flex justify-content-center mt-4">
  <pagination-controls
    (pageChange)="page = $event"
    previousLabel="⟨ Anterior"
    nextLabel="Siguiente ⟩"
    class="pagination justify-content-center pagination-lg"
  ></pagination-controls>
</div>
</div>
