<div class="container mt-3">
<div class="justify-content-center">
  <h1 class="mb-4 roboto text-center">Reservas</h1>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Telefono</th>
          <th scope="col">Personas</th>
          <th scope="col">Hora</th>
          <th scope="col">Correo</th>
          <th scope="col">Fecha</th>
          <th scope="col" colspan="3">Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for(reserva of reservasFiltradas | buscador : nombre | paginate: { itemsPerPage: 9, currentPage: page }; track reserva){
        <tr>
          <td>{{reserva.id_reserva}}</td>
          <td>{{reserva.nombre}}</td>
          <td>{{reserva.telefono}}</td>
          <td>{{reserva.n_personas}}</td>
          <td>{{reserva.hora}}</td>
          <td>{{reserva.email}}</td>
          <td>{{reserva.fecha}}</td>
          <td>
            <button class="btn btn-outline-primary" routerLink="/detalle/{{reserva.id_reserva}}">
              <i class="far fa-eye"></i> Ver
            </button>
          </td>
          <td>
            <button class="btn btn-outline-warning" [routerLink]="['/admin/editarReserva', reserva.id_reserva]">
              <i class="far fa-edit"></i> Editar
            </button>
          </td>
          <td>
            <button class="btn btn-outline-danger" (click)="reserva.id_reserva !== undefined ? borrar(reserva.id_reserva) : null">
              <i class="far fa-trash-alt"></i> Eliminar
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>

  <pagination-controls class="text-center mt-3" (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente">
  </pagination-controls>

</div>
</div>