<div class="parallax3" style="position: relative;">
    <div class="overlay1">
      <div class="mt-5">
        <img class="mx-auto d-block" src="../../../assets/logo.png" alt="">
      </div>
  
      <div class="container mt-5">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <h1 class="nautilus" style="color:rgb(231, 91, 30);">Encuentranos En</h1>
            <p class="roboto text-white">Descubre novedades, promociones y momentos especiales directamente en tus redes favoritas.</p>
            <img class="redes" src="../../../assets/facebook.png" alt="">
            <img class="mx-3 redes" src="../../../assets/instagram.png" alt="">
            <img class="redes" src="../../../assets/x.png" alt="">
            <img class="mx-3 redes" src="../../../assets/tik-tok.png" alt="">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <h1 class="nautilus" style="color:rgb(231, 91, 30);">Nuevo Menu</h1>
            <p class="roboto text-white">Ven y déjate tentar por nuestras últimas creaciones.</p>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <h3 class="nautilus" style="color:rgb(231, 91, 30);">Contactos</h3>
            <p>
              <img class="redes" src="../../../assets/direccion.png" alt="">
              <span class="roboto text-white">6 E Esplanade, St Albans VIC 3021, Australia</span>
            </p>
            <p>
              <img class="redes" src="../../../assets/mensaje.png" alt="">
              <span class="roboto text-white">+91 80005 89080</span>
            </p>
            <p>
              <img class="redes" src="../../../assets/telefono.png" alt="">
              <span class="roboto text-white">soporte</span>
            </p>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <h1 class="nautilus" style="color:rgb(231, 91, 30);">Horario</h1>
            <p class="roboto text-white">Consulta nuestros horarios y ven a vivir una experiencia gastronómica única cuando tú quieras.</p>
          </div>
        </div>
       
      </div>
      <footer class="p-3" style="background-color: rgb(231, 91, 30);">
      <h6 class="text-center"> Copyright © {{ currentYear }} Food Funday is powered by</h6>
    </footer>
    </div>
  </div>