    <div class="container mt-5">
        <div class="text-center mb-4">
    <img src="../../../../assets/cubiertos formulario.png" alt="">
    <h1 class="nautilus">FOOD FUNDAY</h1>
    <h2 class="roboto tomate text-white">RESTAURANTE GOURMET</h2>
  </div>
        <div class="row mt-5">
            <div class="mb-3">
                <form (ngSubmit)="Update()">
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre"
                        [(ngModel)]="reservas.nombre" required>
                    </div>
                    <div class="form-group">
                        <label for="telefono">Telefono</label>
                        <input type="number" class="form-control" id="telf" name="telefono"
                        [(ngModel)]="reservas.telefono" required>
                    </div>
                    <div class="form-group">
                        <label for="N_personas">Numero de personas</label>
                        <input type="number" class="form-control" id="N_personas" name="N_personas"
                        [(ngModel)]="reservas.n_personas" required>
                    </div>
                    <div class="form-group">
                        <label for="hora">Hora</label>
                        <input type="text" class="form-control" id="hora" name="hora"
                        [(ngModel)]="reservas.horario_id" required>
                    </div>
                    <div class="form-group">
                        <label for="correo">Email</label>
                        <input type="email" class="form-control" id="correo" name="correo"
                        [(ngModel)]="reservas.email" required>
                    </div>
                    <div class="form-group">
                        <label for="lugar">Lugar</label>
                        <input type="text" class="form-control" id="lugar" name="lugar"
                        [(ngModel)]="reservas.lugar_id" required>
                    </div>
                    <div class="form-group">
                        <label for="fecha">Fecha</label>
                        <input type="date" class="form-control" id="fecha" name="fecha"
                        [(ngModel)]="reservas.fecha" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="detalles">Detalles</label>
                        <input type="text" class="form-control" id="detalles" name="detalles"
                        [(ngModel)]="reservas.detalles" required>
                    </div>

                   <div class="d-flex justify-content-center mt-3">
    <button type="submit" class="btn btn-success me-2" (click)="Update()">Guardar Cambios</button>
    <button type="button" class="btn btn-secondary" (click)="volver()">Cancelar</button>


  </div>
                </form>
            </div>
        </div>
    </div>