<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
     <li>
            <img src="../../../assets/logo.png" class="w-75" alt="">
          </li>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <!-- Menú izquierdo -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link roboto fs-5 text-white" routerLink="/admin/lista-de-reservas">Reservas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link roboto fs-5 text-white" routerLink="/admin/comentarios">Comentarios</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle roboto fs-5 text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Editar
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item roboto fs-5" routerLink="/admin/lista-de-platos">Platos</a></li>
            <li><a class="dropdown-item roboto fs-5" routerLink="/admin/lugares">Lugares</a></li>
            <li><a class="dropdown-item roboto fs-5" routerLink="/admin/bebidas">Bebidas</a></li>
            <li><a class="dropdown-item roboto fs-5" routerLink="/admin/listaPersonal">Personal</a></li>
          </ul>
        </li>
      </ul>

      <!-- Cerrar sesión alineado a la derecha -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <button class="nav-link text-danger fw-semibold roboto fs-5" (click)="logout()">Cerrar sesión</button>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
 <div>
<router-outlet></router-outlet>
</div>
<img class="fondo" src="../../../assets/fondo comentarios.jpeg" alt="">