<div class="fondo">
    <div class="container lugar1 mb-5">
      
        
    
          <li class="cards_item" id="item_salad">
            <div class="card">
              <div class=" card card_image">
                <owl-carousel-o  [options]="customOptions1" #owlCar>
                  <ng-template carouselSlide >
                      <img src="../../../../../assets/llugar1.jpg" alt="" />
                    </ng-template>
                  <ng-template carouselSlide >
                      <img src="../../../../../assets/llugar2.jpg" alt="" />
                    </ng-template>
                  <ng-template carouselSlide >
                      <img src="../../../../../assets/llugar3.jpg" alt="" />
                    </ng-template>
                  <ng-template carouselSlide >
                      <img src="../../../../../assets/llugar4.jpg" alt="" />
                    </ng-template>
                    </owl-carousel-o>
              </div>
              <div class="card_content px-3">
                <h2 class="card_title nautilus text-white">Farmstand Salad</h2>
                <div class="fs-5 mt-3 roboto text-white">
                  <p>Dig into the freshest veggies of the season! This salad-in-a-jar features a mixture of leafy greens and seasonal vegetables, fresh from the farmer's market.</p>
                  <p>Served with your choice of dressing on the side: housemade ranch, cherry balsamic vinaigrette, creamy chipotle, avocado green goddess, or honey mustard. Add your choice of protein for $2 more. </p>
                </div>
              </div>
            </div>
          </li>
    
      
    
    </div>
    </div>
    
    
    
    
    