
<div class="container perfil1 mb-5">
    <div class="row">
        <div class="col-3" style="background-color: rgba(50, 48, 48, 0.512);">
            
                <img class="w-100" src="../../../../../assets/perfil.png" alt="">
                <h3 class="nautilus mt-3" style="color:rgb(231, 91, 30);">CONTACTOS</h3>
                <p>
                    <img class="redes" src="../../../assets/telefono.png" alt="">
                    <span class="roboto text-white">+593 098 876 543</span>
                  </p>
                  <p>
                    <img class="redes" src="../../../assets/mensaje.png" alt="">
                    <span class="roboto text-white">c.lacreyo&#64;gmail.com</span>
                  </p>
                  <hr style="height: 5px; background-color: rgb(0, 0, 0);">
    <h3 class="nautilus" style="color:rgb(231, 91, 30);">APTITUDES</h3>
    <ul>
        <li>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </li>
        <li>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </li>
        <li>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </li>
        <li>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </li>
        <li>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </li>
    </ul>
        </div>
        <div class="col-9">
        <div class="container mx-5 d-block">
    <h1>AURELIO BUEN DIA CRUZ</h1>
    <hr style="height: 5px; background-color: rgb(0, 0, 0);">   
    <h3 class="nautilus" style="color:rgb(231, 91, 30);">Resumen Profecional</h3>
    <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur animi expedita quos ipsum eos pariatur officia nisi sapiente nesciunt, inventore quia, dolor fuga numquam aliquid alias harum est rerum rem.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae amet doloremque earum quod! Deleniti in nostrum corrupti nulla a iusto ut ex quae quaerat velit exercitationem, modi praesentium placeat vel!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae amet doloremque earum quod! Deleniti in nostrum corrupti nulla a iusto ut ex quae quaerat velit exercitationem, modi praesentium placeat vel!
    </P>
    <hr style="height: 5px; background-color: rgb(0, 0, 0);">   
    <h3 class="nautilus" style="color:rgb(231, 91, 30);">Historial Laboral</h3>
    <p>Febrero 2024 - Diciembre 2025</p>
    <p><strong>Cocina Profecional</strong></p>
    <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur animi expedita quos ipsum eos pariatur officia nisi sapiente nesciunt, inventore quia, dolor fuga numquam aliquid alias harum est rerum rem.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae amet doloremque earum quod! Deleniti in nostrum corrupti nulla a iusto ut ex quae quaerat velit exercitationem, modi praesentium placeat vel!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae amet doloremque earum quod! Deleniti in nostrum corrupti nulla a iusto ut ex quae quaerat velit exercitationem, modi praesentium placeat vel!
    </P>
    <p>Febrero 2024 - Diciembre 2025</p>
    <p><strong>Cocina Profecional</strong></p>
    <ul>
        <li>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio, vero asperiores obcaecati ullam provident unde nostrum voluptas, sit praesentium enim quam repellat laboriosam corrupti iste qui molestias nobis velit aut?
        </li>
        <li>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio, vero asperiores obcaecati ullam provident unde nostrum voluptas, sit praesentium enim quam repellat laboriosam corrupti iste qui molestias nobis velit aut?
        </li>
        <li>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio, vero asperiores obcaecati ullam provident unde nostrum voluptas, sit praesentium enim quam repellat laboriosam corrupti iste qui molestias nobis velit aut?
        </li>
        <li>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio, vero asperiores obcaecati ullam provident unde nostrum voluptas, sit praesentium enim quam repellat laboriosam corrupti iste qui molestias nobis velit aut?
        </li>
        <li>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio, vero asperiores obcaecati ullam provident unde nostrum voluptas, sit praesentium enim quam repellat laboriosam corrupti iste qui molestias nobis velit aut?
        </li>
    </ul>
    <hr style="height: 5px; background-color: rgb(0, 0, 0);">   
    <h3 class="nautilus" style="color:rgb(231, 91, 30);">Formacion</h3>
    <p>Febrero 2024</p>
    <p><strong>Chef Profecional</strong></p>
    <p><strong>Culinary Arts School</strong></p>
        </div>
    </div>
    </div>
    </div>
    
    <h2>Juan Pérez</h2>
<p><em>Chef de Cocina Internacional</em></p>
<p>“Apasionado por fusionar sabores mediterráneos con técnicas asiáticas. 7 años de experiencia liderando cocinas.</p>
<div class="badges">
  <span class="badge">🍝 Pasta Artesanal</span>
  <span class="badge">🥩 Parrilla</span>
  <span class="badge">🎂 Repostería</span>
</div>
