<div class="container">
    @if(isVisible){
        
        <div class="overlay w-100 h-100 position-fixed top-0 start-0">
            <div class="popup rounded col-6 position-fixed top-50 start-50 translate-middle">
                <div class="container ps-5">
                    <div class="row">
                        <h6 class="col-8 pt-3 ">Has elegido...</h6>
                        <div class="col-3 tomate rounded-bottom text-center">
                            <h5 class="mt-2"><strong>Precio:</strong> ${{ precio }}</h5>
                        </div>
                        <button type="button" class="btn-close btn-outline-secondary p-3" aria-label="Close" (click)="closePopup()"></button>
                    </div>
                    <div class="row">
                            <h2 class="col-3">{{ titulo }}</h2>
                        </div>
                    <div class="row">
                        <img [src]="imagen" alt="{{ titulo }}" class="col-4  rounded-4">
                        <p class="col-8"><strong>Descripcion:</strong> <br> <br> {{ descripcion }}</p>
                    </div>
                </div>
            </div>
        </div>
       
    }

    

</div>